.userBlock{
    width: 90%;
    border-color: darkgray;
    border-style: ridge;
    border-width:1px 1px 1px 1px;
}

.userBlock p{
    text-decoration-color: #ff1510;
}

.profileImage{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}