.userBlock{
    width: 90%;
    border-color: darkgray;
    border-style: ridge;
    border-width:1px 1px 1px 1px;
}

.userBlock p{
    text-decoration-color: #ff1510;
}

.profileImage{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.join {
    width: 1348px;
    height: 350px;
}

.joinUs {
    position: absolute;
    width: 133px;
    height: 40px;
    left: 593px;
    top: 393px;

    background: #FFFFFF;
    border-radius: 3px;
}

.black {
    position: absolute;
    width: 1348px;
    height: 350px;
    left: 0px;
    top: 90px;

    background: #151326;
    opacity: 0.5;
}

.text {
    position: absolute;
    width: 800px;
    height: 96px;
    left: 279px;
    top: 163px;

    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    text-align: center;

    color: #FFFFFF;
}

.stext {
    position: absolute;
    width: 413px;
    height: 26px;
    left: 452px;
    top: 300px;

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.people {
    position: absolute;
    width: 696px;
    height: 402.44px;
    left: 570px;
    top: 786px;
}